<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phunware.mapping.demo" >

    <!-- Necessary for MaaS Core to communicate with MaaS server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Optional: If used this will check result in making network calls more efficiently. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Optional: Set this permission in order to get more detailed analytics. -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional: Set these following permissions to to get location data in analytics reports -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">

        <!-- Necessary for MaaS Core to communicate with MaaS server -->
        <service android:name="com.phunware.core.internal.CoreService" />

        <!-- Necessary to generate a UDID -->
        <service android:name="com.OpenUDID.OpenUDID_service">
            <intent-filter>
                <action android:name="com.openudid.GETUDID" />
            </intent-filter>
        </service>

        <!-- Used by MaaS Core for efficient analytic caching and flushing. -->
        <receiver android:name="com.phunware.core.internal.CoreReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.phunware.mapping.demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
